
<div class="search">
 <input
#word
type="Lagos"
placeholder="Search City......"
(keydown.enter)="getCity(word.value)"
/>
<button (click)="getCity(word.value)">Search</button>
</div>
<div class="container">
  <div class="upper-data">
    <img src="../assets/images/hot.jpg" alt="" *ngIf="temp_c > 15" />
    <img src="../assets/images/cold.jpg" alt="" *ngIf="temp_c <= 15" />
    <img src="../assets/images/winter.jpg" alt="" *ngIf="temp_c <= -1" />

    <div class="weather-data">
      <div class="location">{{name}}</div>
      <div class="temperature">{{ temp_c | number : "1.0-0" }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">Weather details</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/temperature.png" alt="" />
          <span>Temp°f</span>
        </div>
        <div class="info-block-value">{{temp_f | number : "1.0-0"}}°F</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity.png" alt="" />
          <span>Hum</span>
        </div>
        <div class="info-block-value">{{humidity}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind.png" alt="" />
          <span>Wind</span>
        </div>
        <div class="info-block-value">{{wind_mph}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind.png" alt="" />
          <span>Feels_like</span>
        </div>
        <div class="info-block-value">{{feelslike_c}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/direction.png" alt="" />
          <span>Direction</span>
        </div>
        <div class="info-block-value">{{wind_dir}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/country.png" alt="" />
          <span>Tz_id</span>
        </div>
        <div class="info-block-value">{{tz_id}}</div>
      </div>
      
    </div>
    <p class="text-center text-[10px] text-white">{{localtime}}</p>
  </div>
</div>

<h4 class="text-white absolute bottom-0 left-[50%] transform translate-x-[-50%]">
  This Project was coded by
  <a
    class="text-black"
    href="https://a-samuel.netlify.app/"
    target="
"
    >Akinyemi samuel</a
  >
  and it is open-sourced on
  <a
    class="text-black"
    href="https://github.com/Samfrosh/WeatherMobile.git"
    target="
"
    >GitHub</a
  >
</h4>


